.quickFillContainer {
    position: relative;
    width: 50%;
}

.quickFillButton {
    right: 26px;
    position: absolute;
    width: 100px;
    height: 15px;
    font-family: auto;
    color: white;
    background-color: #36bb00;
    align-content: center;
    text-align: center;
    padding: 10px 5px;
    margin: 13px 0px;
    font-weight: bold;
    font-size: 15px;
    border-radius: 25px;
    box-shadow: 3px 3px rgb(45, 130, 11);
    cursor: pointer;
}
.quickFillButton.disabled {
    color: #e0dfdf;
    background-color: #bfbfbf;
    box-shadow: none;
}

.panel {
    background: #fff;
    border: 1px solid #ddd;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.1);
    padding: 20px;
    color: #333;
    width: 350px;
    margin: 10px auto;
}
.footer {
    width: 100%;
    padding: 15px;
} 