td {
    padding-bottom: 10px;
}
th {
    text-align: left;
    width: 200px;
    padding-bottom: 12px;
    font-size: 16px;
}
.panel {
    background: #fff;
    border: 1px solid #ddd;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.1);
    padding: 20px;
    color: #333;
    width: 550px;
    margin: 10px auto;
}

.footer {
    width: 100%;
    padding: 15px;
} 

.long-input {
    width: 200px;
}

.freepik {
    font-size: 10px;
}

.weekDays-selector input {
    display: none!important;
}

.weekDays-selector input[type=checkbox] + label {
    display: inline-block;
    border-radius: 6px;
    background: #dddddd;
    height: 26px;
    width: 44px;
    margin-right: 0px;
    line-height: 26px;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
}

.weekDays-selector input[type=checkbox]:checked + label {
    background: #056cd7;
    color: #ffffff;
}
input[type="text"], input[type="number"]  {
    font-size: 12px;
}